<center>
  <h1><%= @division.name() %> Division</h1>

</center>


<h2>Update Division</h2>
<p>
  <form action="/divisions/<%= @division.id %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for="division">Rename your division</label>
    <input id="division" name="division" type="text" required>
    <button type="submit" class="btn btn-info">Update</button>
    </form>
</p>

<h2>Destroy Division</h2>

<form action="/divisions/<%= @division.id %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit" class="btn btn-danger">Destroy</button>
</form>


<h3>Assign Employee to a division</h3>
<form action="/divisions/<%= @division.id %>/employee" method="post">

  <div class="form-group">
    <label for="employee">Employee</label>
      <select id="employee_select" name="employee_select" type="text" class="form-control" required>
        <% @employees.each() do |employee| %>
          <option id="option_<%= employee.id() %>" value="<%= employee.id() %>"><%= employee.name() %></option>
        <% end %>
      </select>
  </div>
<button class="btn btn-success" type="submit">Assign</button>
</form>

<h2>Here are all of your employees:</h2>

<ul class="fa-ul">
  <% @division.employees.each() do |employee| %>
  <li><i class="fa-li fa fa-user"></i> <a href="/employees/<%= employee.id %>"><%= employee.name() %></a> </li>
  <% end %>
</ul>
