<h1>Employee: <i><% @employee.id()%> <%= @employee.name()%></i></h1>




<h3>Details about <%= @employee.name() %> :</h3>
<% if !@employee.division().nil? %>
  <h5>Division: <a href="/divisions/<%= @employee.division.id %>"><%= @employee.division().name() %></a></h5>
<% end %>

<% if @projects.any?() %>
<h5>Projects</h5>
  <ul class="fa-ul">
    <% @projects.each() do |project| %>
      <% if project.employee_ids().include? @employee.id() %>

<li> <i class="fa-li fa fa-cogs"></i><a href="/projects/<%= project.id()%>"><%= project.name() %></a>

          <form class="form-inline" role="form" action="/employees/<%= @employee.id()%>/boot" method="post">
            <div class="form-group">
          <input type="hidden" name="project_id" value="<%= project.id() %>">
          <input type="hidden" name="_method" value="delete">
        </div>

        <button class="btn btn-danger" type="submit" name="button"><i class="fa fa-trash"></i></button>

      </form></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= @employee.name() %> isn't assigned to any projects yet!
  </p>
<% end %>

<h3>Delete this Employee</h3>
<form class="form-inline" action="/employees/<%= @employee.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger" type="submit" name="button"><i class="fa fa-trash"></i></button>
</form>

<h3>Update this Employee</h3>
<form action="/employees/<%= @employee.id() %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="patch">
    <label for="employee">New Name</label>
    <input type="text" name="employee" id="employee" class="form-control" required>
  </div>
  <button class="btn btn-info" type="submit">Update</button>
</form>

<h3>Assign Employee to a project</h3>
<form action="/employees/<%= @employee.id() %>/project" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="post">
    <select id="project_select" name="project_select" class="form-control" type="text">

      <% @projects.each() do |project| %>
        <option id="option_<%= project.id() %>" value="<%= project.id() %>"><%= project.name() %></option>
      <% end %>
    </select>
  </div>
  <button class="btn btn-success" type="submit">Assign</button>
</form>

<h3>Assign Employee to a division</h3>
<form action="/employees/<%= @employee.id() %>/division" method="post">

  <div class="form-group">
    <label for="division">Division</label>
      <select id="division_select" name="division_select" type="text" class="form-control" required>
        <% @divisions.each() do |division| %>
          <option id="option_<%= division.id() %>" value="<%= division.id() %>"><%= division.name() %></option>
        <% end %>
      </select>
  </div>
<button class="btn btn-success" type="submit">Assign</button>
</form>
