



  <h3 class="panel-title">Employee Tracker</h3>
  <div class="panel-body">
    <ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#divisions" aria-controls="divisions" role="tab" data-toggle="tab">Divisions</a></li>
  <li role="presentation"><a href="#employees" aria-controls="employees" role="tab" data-toggle="tab">Employees</a></li>
  <li role="presentation"><a href="#projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
</ul>


<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="divisions">

    <% if @divisions.any?() %>
      <% @divisions.each() do |division| %>
        <div class="row">
          <div class="container-fluid">
              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                      <a class="panel-default" data-toggle="collapse" data-parent="#accordion_division_<%= division.id() %>" href="#collapse_division_<%= division.id() %>">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                          <%= division.name() %>
                          </h4>
                      </div>
                      </a>
                      <div id="collapse_division_<%= division.id() %>" class="panel-collapse collapse">
                          <div class="list-group">
                            <ul class="fa-ul">
                          <% if division.employees().any?() %>
                            <% division.employees().each() do |employee| %>
                              <li><i class="fa-li fa fa-user"></i><a href="/employees/<%= employee.id() %>"><%= employee.name() %></a> </li>
                            <% end %>
                          <% end %>
                        </ul>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      <% end %>

    <% else %>
      <p>
        You don't have any divisions yet!
      </p>
    <% end %>

  </div>

  <div role="tabpanel" class="tab-pane fade" id="employees">
    <% if @employees.any? %>
    <% @employees.each() do |employee| %>
    <div class="row" id="employees">
      <div class="container-fluid">
          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <a class="panel-default" data-toggle="collapse" data-parent="#accordion_employee_<%= employee.id() %>" href="#collapse_employee_<%= employee.id() %>">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                      <%= employee.name() %>
                      </h4>
                  </div>
                  </a>
                  <div id="collapse_employee_<%= employee.id() %>" class="panel-collapse collapse">
                      <div class="list-group">
                      Department: <a href="/divisions/<%= employee.division.id() %>"> <%= employee.division.name() %></a>
                      <br />
                      Project/s:<ul class="fa-ul">
                        <% if employee.project_ids.any? %>

                        <% employee.project_ids.each() do |project_id| %>
                        <li><i class="fa-li fa fa-cogs"></i><a href="/projects/<%= project_id %>"><%= @projects.find(project_id).name %></a></li>
                        <% end %>
                        <% end %>
                      </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <% end %>

    <% else %>
      <p>
        You don't have any meployees yet!
      </p>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="projects">
      <% if @projects.any? %>
      <% @projects.each do |project|%>

    <div class="row" id="projects">
      <div class="container-fluid">
          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <a class="panel-default" data-toggle="collapse" data-parent="#accordion_project_<%= project.id() %>" href="#collapse_project_<%= project.id() %>">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                      <%= project.name() %>
                      </h4>
                  </div>
                  </a>
                  <div id="collapse_project_<%= project.id() %>" class="panel-collapse collapse">
                      <div class="list-group">
                      <ul class="fa-ul">
                        <% if project.employees.any? %>
                        <% project.employees.each do |employee| %>
                        <li><i class="fa-li fa fa-user"></i>
                          <a href="/employees/<%= employee.id() %>"><%= employee.name %></a>
                        </li>
                        <% end %>
                        <% end %>

                      </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <% end %>
    <% else %>
      <p>
        You don't have any projects yet!
      </p>
    <% end %>
